<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Board Match Portal</title>
    <meta name="description" content="A place for service-minded individuals to
                                      connect with local non-profits in search
                                      of board members and other support">

    <!-- CSS Reset -->
    <link rel="stylesheet" type="text/css" href="styles/reset.css">
    
    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="styles/layout.css">
    
  </head>
  
  <body>
    <header>
      <h1>Board Match Portal</h1>
      <nav class="header-nav js-header-nav">
        <p>Header Nav</p>
      </nav>
    </header>
    
    <nav class="sidebar-nav">
      <ul>
        <li>Dashboard</li>
        <li>Profile
          <ul>
            <li>View/Edit</li>
          </ul>
        </li>
        <li>Organization 1
          <ul>
            <li>View/Edit</li>
            <li>Recruiting</li>
            </ul>
        </li>
        <li>Organization 2
          <ul>
            <li>View/Edit</li>
            <li>Recruiting</li>
          </ul>
        </li>
        <li>Positions
          <ul>
            <li>Browse</li>
            <li>Your applications</li>
          </ul>
        </li>
      </ul>
    </nav>
    
    <main role="main">
      <p>Main content area</p>
      
      <section class="card">
        <p>This is a content card</p>
      </section>
      
      <section class="card">
        <p>This is another content card</p>
      </section>
      

    </main>

    <!-- Load jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
  </body>
</html>